*,*:before,*:after{
    box-sizing: inherit; /*box-model format: allows padding to alter box without having to change height and width*/
}
html { 
    font-family: "Helvetica";
    box-sizing: border-box;
}
.wrapperA header h1{
    font-style: normal;
    font-size: 2.5em;
    padding:10px;
}
h1{
    font-size: 1.8em;
}
img{
    width: 100%;  
    padding: 13px;
}
.leftBox{
    background: #ccc;
    height: 580px;
    width:35%; 
    border-style: inset;  ;
    float:left;
}
.rightBox{
    background: #ccc;
    height: 580px;
    width: 100%;
    border-style: inset;
    padding:10px; 
}
header, footer{
    background: #797979;
    height: 60px;
}
footer{
    clear:both; /*returns css to normal flow after using float in .leftBox and .wrapperB divs*/
    padding: 20px;
}
.wrapperA{ /*box-model wrapper*/
    width: 60%; 
    margin: 0 auto;
}
.wrapperB{ /*recipe wrapper*/
    background-color: rgb(255, 223, 106);  
    width: 63%; 
    margin: 0 auto; 
    margin-left: 20px;
    padding: 1.49em;
    border-radius: 15px; 
    float: left;
}
